/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

nav {
  margin: fixed;
  margin-bottom: 94px;

}

body {
  background: lightgreen;
}

.back {
  background:white;
  border-radius: 25px;
  padding: 20px;
}

.button {
  margin-top: 15px;
}

#battle-log {
margin-top: 600px;

}
#versus img{
   top:175px;
   left:42%;
   z-index: 3;
   position: absolute;
}
#versus .turn{
   top:100%;
   right:100%;
   z-index: 4;
   color: #fff;
   font-size: 100px;
   position: absolute;
}
#pokemon2{
   border-radius: 0 25px 25px 0;
   text-align: right;
   padding-bottom: 50px;
   background-color: #428bca;
}
#pokemon2 table{
   text-align: center;
   background-color: #d9534f;
   color: white;
}
#pokemon1{
   border-radius: 25px 0 0 25px;
   text-align: left;
   padding-bottom: 50px;
   background-color: #d9534f;
}
#pokemon1 table{
   text-align: center;
   background-color: #428bca;
   color: white;
}
.red {
   border-radius: 5px 5px 5px 5px;
   padding: 10px 0 10px 0;
   background-color: #d9534f;
   color: #FFFFFF;
}
.blue {
   border-radius: 5px 5px 5px 5px;
   padding: 10px 0 10px 0;
   background-color: #428bca;
   color: #FFFFFF;
}
