.logo {
  margin-left: 240px;
  padding: auto;
}

.search {
  margin-top: 300px;
  margin-left: 350px;
  padding: auto;
  margin-bottom: 10px;
}

.information {
  margin-right: 90px;

}

body {
  background: #54D1FE;
}


#valid {
  margin-left: 300px;
}
