body {
  background: #02ACE9  ;
  color: black;
}

.logo {
  margin-left: 260px;
  padding: auto;
}

.search {
  margin-top: 300px;
  margin-left: 350px;
  padding: auto;
  margin-bottom: 10px;
}

.information {
  margin-right: 90px;

}

#valid {
  margin-left: 420px;
}
