.detail-show {
  margin-top: 55%;
}

.skill-form {
  background: white;
  padding:20px;
  border-radius: 30px;
}

.new-pokemon {
  background: white;
  width: 250px;
  margin-left: 32%;
  padding:25px;
  border-radius: 30px;
  text-align: center;
  margin-top: 10px;
}

.pokemon-back {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.back {
  background:white;
  border-radius: 25px;
  padding: 20px;
}

.show-pokemon {
  margin-left: 40%;
}
